$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
@mixin title {
    font-family: $font;
    // font-size: 90px;
    font-weight: bold;
    color: #586a6a;
    // box-shadow: 5px 5px #333;
    // text-shadow: 4px 5px 5px #c8e0f4;
}
#title {
    @include title();
    text-shadow: 4px 5px 5px #c8e0f4;
    font-size: 90px;
    grid-column: 1/4;
}
#refer {
    @include title();
    font-size: 30px;
}
// arrow
.fle {
    grid-column: 1/4;
    margin-left: auto;
    margin-right: auto;
    
}
i {
    border: solid #cfb1b7;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 3px;
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    animation-name: arrow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes arrow {
    0% {
        border-width: 0 2px 2px 0;
    }
    50% {
        border-width: 0 4px 4px 0;
    }
    100% {
        border-width: 0 6px 6px 0;
    }
}

.down {
    transform: rotate(45deg);
}
body {
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    font-family: $font;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b9a394;
    position: fixed;
    top: 0;
    width: 100%;
}
.nav li {
    float: right;
}
.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav li a:hover:not(.active) {
    background-color: #2e7788;
}
.active {
    background-color: #3891a6;
}
// box title
.box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    width: 50%;
    // background-color: #a4b1b942;
}
// grid container
@mixin contenedores {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: grid;
    grid-gap: 10px;
    background-color: hsla(203, 9%, 59%, 0.068);
}
//grid box
.box {
    @include contenedores();
    grid-template-columns: auto auto;
}
.box h1 {
    grid-column: 1/4;
}
.box img {
    border-radius: 50%;
    border: 10px solid #cfb1b7;
    box-shadow: 5px 5px 10px #cfb1b7;
}
// terrestre grid
.container {
    @include contenedores;
    grid-template-columns: auto auto auto;
}
// aereo grid
.containerAir {
    @include contenedores;
    grid-template-columns: auto auto auto;
}
// mar grid
.containerMaritime {
    @include contenedores();
    grid-template-columns: auto auto auto;
}
// Nav Home
.nexNav {
    list-style-type: circle;
    position: fixed;
    margin-left: 89%;
    top: 50%;
}
.nexNav li {
    font-size: 1.5em;
}
.nexNav li a {
    text-decoration: none;
    color: #351e29;
    font-weight: bold;
    font-size: 1em;
}
.nexNav li:hover,
a:hover {
    list-style-type: disc;
}
.nexNav li a:hover {
    color: #2d0605;
}
.container > img {
    border: 1px solid black;
    align-items: center;
}

// fade in images
@mixin allImagesGallery {
    opacity: 1;
    display: block;
    transition: 0.5s ease;
    backface-visibility: hidden;
}
.cell {
    position: relative;
    width: 435px;
}

.image {
    @include allImagesGallery();
}
.actio {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.cell:hover .image {
    opacity: 0.3;
}
.cell:hover .actio {
    opacity: 1;
}

.text {
    background-color: #586a6a;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}
